@model FindMyPlace.Models.Inmueble

@{
    ViewBag.Title = "Details";
}
<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 400px;
    }
</style>

<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-7">

            <!-- Title -->
            <h1>@Model.Categoria.Nombre en @Model.TipoVenta.Descripcion</h1>

            <!-- Author -->
            <p class="lead">
                @Model.Moneda.Nombre @string.Format("{0:C}", Model.Precio)
            </p>

            <hr>

            <!-- Date/Time -->
            @*<p>Posted on January 1, 2019 at 12:00 PM</p>

                <hr>*@

            <!-- Preview Image -->
            <img class="img-responsive" src="~/Content/apartamento.jpg" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">@Model.Descripcion</p>


            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Categoría
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Categoria.Nombre)
                    </dd>

                    <dt>
                        Condición
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Condicion.Descripcion)
                    </dd>

                    <dt>
                        Tipo de Venta
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TipoVenta.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Habitaciones)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Habitaciones)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Area)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Area) mts
                    </dd>

                </dl>
            </div>

            <button class="btn btn-info">Contactar vendedor →</button>

            <p>
                <br />
                @Html.ActionLink("Edit", "Edit", new { id = Model.InmuebleId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>

        <!-- Side Widget -->
        <div class="col-lg-5">
            <br />
            <br />
            <br />
            <h3>Ubicación</h3>
            <p>@Model.Direccion</p>
            <div id="map"></div>
        </div>

    </div>

</div>




<script>
    var map;
    var marker

    function initMap() {
        var lat = @Model.Latitude;
        var lng = @Model.Longitude;

        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: lat, lng: lng },
            zoom: 13
        });

        marker = new google.maps.Marker({
            position: { lat: lat, lng: lng },
            map: map,
            animation:google.maps.Animation.DROP
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsCBz6lI00qX1Hf3SIL2XVdX_mT0asYB4&callback=initMap"
        async defer></script>
