@model IEnumerable<FindMyPlace.Models.Inmueble>

@{
    ViewBag.Title = "Inmuebles";
}

<h2>Inmuebles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Categoría
        </th>
        <th>
           Condición
        </th>
        <th>
            Tipo de Venta
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habitaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condicion.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoVenta.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area) mts
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InmuebleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InmuebleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InmuebleId })
        </td>
    </tr>
}

</table>
